<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Quality Minds" thread-count="3" parallel="methods">
    <test name="Chrome Test">
        <!-- options fo parameter 'browser': chrome, mozilla -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.TestSuite">
                <methods>
                    <include name="testCase1" />
                    <include name="testCase2" />
                    <include name="testCase3" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Mozilla Test">
        <parameter name="browser" value="mozilla"/>
        <classes>
            <class name="test.java.TestSuite">
                <methods>
                    <include name="testCase1" />
                    <include name="testCase2" />
                    <include name="testCase3" />
                </methods>
            </class>
        </classes>
    </test>
</suite>